# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Virtual environments
.venv/
venv/
env/

# Spark / pipeline outputs
*.log
spark-warehouse/
metastore_db/
derby.log
checkpoints/

# Jupyter
.ipynb_checkpoints/

# draw.io backup files
*.drawio.bkp
*.drawio.dtmp

# IDE / editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
